source "qemu" "trustbox" {
  accelerator  = "{{ vm_accelerator }}"

  iso_checksum = "{{ iso_checksum }}"
  iso_url      = "{{ iso_url }}"

  format = "raw"
  display = "vnc=:0"

  cpus = 94
  memory = {{ 190 * 1024 }}

  http_directory = "cloud-init"
  boot_wait    = "1s"
  boot_command = [
    "c<wait>linux /casper/vmlinuz autoinstall 'ds=nocloud;s=http://{{ '{{ .HTTPIP }}:{{ .HTTPPort }}' }}/' ---<enter><wait>", # Escape braces
    "initrd /casper/initrd<enter><wait><wait>",
    "boot<enter><wait>"
  ]

  ssh_username = "root"
  ssh_timeout = "3h"
}

build {
  name = "trustbox"
  sources = ["source.qemu.trustbox"]
}
